body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

/*NAVIGATION STYLES*/
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1000px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    color: #F9FAF8;
    text-decoration: none;
}

/*HERO SECTION STYLES*/
.hero-section {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    padding: 75px 55px;
}

.hero-container {
    display: flex;
    margin: auto;
    max-width: 1000px;
    gap: 45px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-1, .col-2 {
    width: 50%;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.hero-section p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 32px 0px;
}

.hero-section button {
    background-color: #33CCCC;
    padding: 8px 16px;
    border-radius: 5px;
    border: 0px solid #3882F6;
    color: #1F2937;
    font-weight: 800;
    align-self: start;
}

.col-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-image {
    border-radius: 100%;
    width: 100%;
    max-width: 70%;
}

/*INFO SECTION STYLES*/
.info-section {
    text-align: center;
    padding: 55px;
}

.info-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0 0 45px 0;
}

.blurb-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blurb-image {
    width: 100%;
    height: auto;
}

.image {
    border-radius: 100%;
    width: 100%;
    max-width: 150px;
    margin: 0;
}

.blurb p {
    color: #1F2937;
    font-weight: 300;
}

/*QUOTE SECTION STYLES*/
.quote-section {
    background-color: #E5E7EB;
    padding: 75px 55px;
}

.quote-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0 0 45px 0;
    text-align: center;
}

.quote-text {
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.4;
}

.quote-author {
    text-align: right;
    font-weight: 400;
}

.quote-text, .quote-author {
    max-width: 800px;
    margin: auto;
}

/*CTA SECTION STYLES*/
.cta-section {
    padding: 75px 55px;
}

.modal {
    background-color: #33CCCC;
    border-radius: 5px;
    padding: 32px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    max-width: 890px;
    margin: auto;
}

.modal-text {
    color: #1F2937;
}

.modal-text h3 {
    font-weight: 800;
    font-size: 22px;
}

.modal button {
    background-color: #1F2937;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #E5E7EB;
    font-weight: 800;
    display: flex;
    flex-shrink: 0;
}

/*FOOTER SECTION STYLES*/
.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding: 32px 0;
}